/**
 * Style file
 *
 * This file is compiled into style.css

@import "bourbon";
@import "neat";
 */
/* ---------- Import base ---------- */
/* Colors */
/* Font stuff */
/**
 * Functions
 *
 */
/**
 * Mixins
 *
 * Snippets of reusable CSS to develop faster and keep code readable
 */
/* Overwrite the default media mixin for ie9 fallback */
/**
 * Extendables
 *
 * Collect all of your extendable classes, ids and silent extendables.
 */
.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

/*
 * Typography
 * 
 * Text styles, not colours go in this file
 * these defaults come from the Bartik theme
 * Big thanks to Jen Simmons for these defaults https://www.drupal.org/u/jensimmons
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased; }

html, button, input, select, textarea {
  font-family: Helvetica, Arial, sans-serif; }

/* Line-heights */
body {
  font-size: 16px;
  line-height: 1.5em; }

h1 {
  margin: 0.67em 0;
  padding: 0;
  font-size: 2em; }

h2 {
  margin: 0.83em 0;
  padding: 0;
  font-size: 1.5em; }

h3 {
  margin: 1em 0;
  padding: 0;
  font-size: 1.17em; }

h4 {
  margin: 1.33em 0;
  padding: 0;
  font-size: 1em; }

h5 {
  margin: 1.67em 0;
  padding: 0;
  font-size: 0.83em; }

h6 {
  margin: 2.33em 0;
  padding: 0;
  font-size: 0.75em; }

/* ---------- Overall Specifications ---------- */
body {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

a:link, a:visited {
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

p {
  margin: 0 0 1.2em; }

del {
  text-decoration: line-through; }

code, pre, kbd, samp, var {
  padding: 0 0.4em;
  font-size: 0.857em;
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }

pre code, pre kbd, pre samp, pre var, kbd kbd, kbd samp, code var {
  font-size: 100%;
  background-color: transparent; }

pre code, pre samp, pre var {
  padding: 0; }

.description code {
  font-size: 1em; }

kbd {
  border: 1px outset #575757;
  margin: 0 3px;
  display: inline-block;
  padding: 0 6px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

pre {
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap; }

/* ------------------ Reset Styles ------------------ */
caption {
  text-align: left;
  /* LTR */
  font-weight: normal; }

[dir="rtl"] caption {
  text-align: right; }

blockquote {
  border-left: 4px solid #bbb;
  /* RTL */
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px; }

[dir="rtl"] blockquote {
  border-left: none;
  border-right: 4px solid #bbb; }

blockquote:before {
  content: "\201C";
  /* RTL */
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em; }

[dir="rtl"] blockquote:before {
  content: "\201D"; }

blockquote:after {
  content: "\201D";
  /* RTL */
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em; }

[dir="rtl"] blockquote:after {
  content: "\201C"; }

blockquote > p:first-child {
  display: inline; }

a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0; }

/* ---------- Import custom styles ---------- */
/**
 * Layout
 *
 * All layout theming should go in this file
 * general html page elements and non-forms/buttons/footer/header
 * these defaults come from the Bartik theme
 * Big thanks to Jen Simmons for these defaults https://www.drupal.org/u/jensimmons
 */
/* ------------------ Table Styles ------------------ */
table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%; }

table table {
  font-size: 1em; }

table tr th, table tr th a, table tr th a:hover {
  font-weight: bold; }

table tbody tr th {
  vertical-align: top; }

tr td, tr th {
  padding: 4px 9px;
  border: 1px solid #fefefe;
  text-align: left;
  /* LTR */ }

[dir="rtl"] tr td, [dir="rtl"] tr th {
  text-align: right; }

table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em; }

table ul.links li {
  padding: 0 1em 0 0; }

/* ------------------ List Styles ------------------ */
.block ol, .block ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
  /* LTR */ }

[dir="rtl"] .block ol, [dir="rtl"] .block ul {
  padding: 0 1em 0.25em 0; }

.contextual-links-wrapper {
  font-size: small !important; }

ul.contextual-links {
  font-size: 0.923em; }

.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important; }

.item-list .pager {
  font-size: 0.929em; }

ul.menu li {
  margin: 0; }

.region-content ul, .region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em;
  /* LTR */ }

[dir="rtl"] .region-content ul, [dir="rtl"] .region-content ol {
  padding: 2.5em 0 0.25em 0; }

ul.tips {
  padding: 0 0 0 1.25em;
  /* LTR */ }

[dir="rtl"] ul.tips {
  padding: 0 1.25em 0 0; }

/* ------------------ Layout ------------------ */
/* All layouts */
.l-container, .l-top, .l-messages, .l-header-inner, .l-featured, .l-triptych, .l-footer-columns {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.l-triptych-wrapper {
  border-top: 1px solid #e7e7e7; }

/* Push the footer down to the bottom of the page. */
.layout {
  box-sizing: border-box;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  clear: both; }

body.admin-bar .layout {
  padding-top: 30px;
  margin-top: -30px; }

.l-container, .l-triptych {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.l-header, .l-top, .l-messages, .l-footer-wrapper, .l-footer {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

/* ------------------- Main ------------------- */
.l-container {
  margin-top: 130px;
  margin-bottom: 40px; }

.l-messages {
  margin-top: 130px; }

/* ----------------- Top ----------------- */
.l-top {
  margin-top: 20px; }

/* ----------------- Content ------------------ */
.content {
  margin-top: 10px; }

h1#page-title {
  font-size: 2em;
  line-height: 1;
  margin-top: .5em; }

main h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4; }

.node .content {
  font-size: 1.071em; }

.view-mode-teaser .content {
  font-size: 1em; }

.view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em; }

.view-mode-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px; }

.view-mode-teaser.sticky {
  padding: 0 15px 15px; }

.view-mode-teaser .content {
  clear: none;
  line-height: 1.6; }

.meta {
  font-size: 0.857em;
  margin-bottom: -5px; }

.submitted .user-picture img {
  float: left;
  /* LTR */
  height: 20px;
  margin: 1px 5px 0 0;
  /* LTR */ }

[dir="rtl"] .submitted .user-picture img {
  float: right;
  margin-left: 5px;
  margin-right: 0; }

.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em; }

.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px;
  /* LTR */ }

[dir="rtl"] .field-type-taxonomy-term-reference .field-label {
  padding-left: 5px;
  padding-right: 0; }

.field-type-taxonomy-term-reference .field-label, .field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em; }

.view-mode-teaser .field-type-taxonomy-term-reference .field-label, .view-mode-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em; }

.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none; }

.field-type-taxonomy-term-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 1em 0 0;
  /* LTR */
  white-space: nowrap; }

[dir="rtl"] .field-type-taxonomy-term-reference ul.links li {
  padding: 0 0 0 1em;
  float: right; }

article .link-wrapper {
  text-align: right; }

[dir="rtl"] article .link-wrapper {
  text-align: left; }

.field-type-image img, .user-picture img {
  margin-bottom: 1em; }

article .link-wrapper ul.links {
  font-size: 0.821em; }

.unpublished {
  margin: -20px -15px 0;
  padding: 20px 15px 0; }

/* ----------------- Comments ----------------- */
.comment h2.title {
  margin-bottom: 1em; }

.comment div.user-picture img {
  margin-left: 0;
  /* LTR */ }

[dir="rtl"] .comment div.user-picture img {
  margin-right: 0; }

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top; }

.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0;
  /* LTR */
  vertical-align: top;
  overflow: hidden; }

[dir="rtl"] .comment .attribution {
  float: right;
  padding: 0 0 0 30px; }

.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9; }

.comment .attribution .username {
  white-space: nowrap; }

.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2; }

.comment .submitted .comment-time {
  font-size: 0.786em; }

.comment .submitted .comment-permalink {
  font-size: 0.786em; }

.comment .content {
  font-size: 0.929em;
  line-height: 1.6; }

.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
  /* LTR */
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -47px;
  /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px; }

[dir="rtl"] .comment .comment-arrow {
  background-image: url(../images/comment-arrow-rtl.gif);
  margin-left: 0;
  margin-right: -47px; }

.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%; }

.comment .indented {
  margin-left: 40px;
  /* LTR */ }

[dir="rtl"] .comment .indented {
  margin-right: 40px;
  margin-left: 0; }

.comment ul.links {
  padding: 0 0 0.25em 0; }

.comment ul.links li {
  padding: 0 0.5em 0 0;
  /* LTR */ }

[dir="rtl"] .comment ul.links li {
  padding: 0 0 0.5em; }

.comment-unpublished {
  margin-right: 5px;
  /* LTR */
  padding: 5px 2px 5px 5px;
  /* LTR */ }

[dir="rtl"] .comment-unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px; }

.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4; }

/* ------------------ Sidebar ----------------- */
.l-sidebar .block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px; }

.l-sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fefefe;
  font-size: 1.071em;
  line-height: 1.2; }

.l-sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4; }

.l-sidebar tbody {
  border: none; }

/* ----------------- Triptych ----------------- */
.l-triptych h2 {
  font-size: 1.714em;
  margin-bottom: 0.8em;
  text-shadow: 0 1px 0 #fefefe;
  text-align: center;
  line-height: 1; }

.l-triptych .block {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3; }

.l-triptych .block.last {
  border-bottom: none; }

.l-triptych .block ul li, .l-triptych .block ol li {
  list-style: none; }

.l-triptych .block ul, .l-triptych .block ol {
  padding-left: 0; }

.l-triptych .block-user-login .form-text {
  width: 185px; }

.l-triptych .block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0; }

.l-triptych-last .block-node-syndicate {
  text-align: right; }

.l-triptych .block-search-form .form-type-search input {
  width: 185px; }

.block-system-powered-by {
  text-align: center; }

/* --------------- System Tabs  --------------- */
.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px; }

.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom; }

.tabs ul.primary li {
  display: block;
  float: left;
  /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0;
  /* LTR */ }

[dir="rtl"] .tabs ul.primary li {
  margin: 0 0 0 5px;
  float: right; }

.tabs ul.primary li a {
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left;
  /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fefefe;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px; }

.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0; }

.tabs ul.secondary li {
  display: block;
  float: left;
  /* LTR */ }

[dir="rtl"] .tabs ul.secondary li {
  float: right; }

.tabs ul.secondary li:last-child {
  border-right: none;
  /* LTR */ }

[dir="rtl"] .tabs ul.secondary li:last-child {
  border-left: none; }

.tabs ul.secondary li:first-child {
  padding-left: 0;
  /* LTR */ }

[dir="rtl"] .tabs ul.secondary li:first-child {
  padding-right: 0; }

.tabs ul.secondary li a {
  padding: 0.25em 0.5em; }

.tabs ul.secondary li a.active {
  border-bottom: none;
  -moz-border-radius: 5px;
  border-radius: 5px; }

ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em; }

ul.action-links li {
  display: inline-block;
  margin-left: 10px; }

ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0; }

[dir="rtl"] ul.action-links li a {
  background-position: right center;
  padding-left: 0;
  padding-right: 15px; }

/* -------------- Breadcrumbs   -------------- */
.breadcrumb {
  font-size: 0.929em;
  padding: 0; }

.breadcrumb ol {
  margin: 0;
  padding: 0; }

/* -------------- User Profile   -------------- */
.profile .user-picture {
  float: none; }

/* -------------- Other Overrides ------------- */
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em; }

/* --------------- Search Results ---------------- */
ol.search-results {
  padding-left: 0; }

.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em; }

.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em; }

.search-results .search-snippet-info {
  padding-left: 0; }

/* ---------- Admin-specific Theming ---------- */
.page-admin main img {
  margin-right: 15px;
  /* LTR */ }

.page-admin main .simpletest-image img {
  margin: 0; }

.page-admin #admin-dblog img {
  margin: 0 5px; }

/* Configuration. */
div.admin .right, div.admin .left {
  width: 49%;
  margin: 0; }

div.admin-panel {
  margin: 10px 0;
  padding: 0 5px 5px; }

div.admin-panel h3 {
  margin: 16px 7px; }

div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0; }

div.admin-panel dd {
  margin: 0 0 10px; }

div.admin-panel .description {
  margin: 0 0 14px 7px; }

/* ---------- book ----------- */
.book-navigation .menu {
  border-top: 1px solid #d6d6d6; }

.book-navigation .book-pager {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  margin: 0; }

/**
 * Responsive tables.
 */
@media screen and (max-width: 450px) {
  th.priority-low, td.priority-low, th.priority-medium, td.priority-medium {
    display: none; } }

@media screen and (max-width: 720px) {
  th.priority-low, td.priority-low {
    display: none; }
  .l-container, .l-messages {
    margin-top: 120px; }
  .l-sidebar .block {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 11px; }
  .layout--two-column .l-content, .layout--two-column .l-sidebar {
    padding: 0 5px; } }

/*
 * Components
 *
 * Include all your design elements in this file.
 * forms/buttons and non-general html elements
 * these defaults come from the Bartik theme and are being transitioned from CSS into SASS variables
 * Big thanks to Jen Simmons for these defaults https://www.drupal.org/u/jensimmons
 */
/* Base responsive images */
img {
  height: auto;
  max-width: 100%;
  outline: 0; }

a.logo img {
  height: auto;
  max-width: 125px;
  max-height: 100px; }

/* ---------------- Buttons    ---------------- */
[dir="rtl"] input.form-submit, [dir="rtl"] a.button {
  margin-right: 0;
  margin-left: 0.6em; }

/* ---------- Dropbutton ----------- */
.js .dropbutton-widget {
  border-radius: 5px; }

.button-success, .button-error, .button-warning, .button-secondary, .button-error, .danger, #edit-cancel, .button-secondary, .button, .basic-cart-add-to-cart-link, input[type=button], input[type=reset], input[type=submit] {
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: .5em 1em; }

.pure-button {
  margin-right: 0.6em; }

a.button {
  line-height: 2; }

@media screen and (max-width: 768px) {
  .button-success, .button-error, .button-warning, .button-secondary, .button-error, .danger, #edit-cancel, .button-secondary, .basic-cart-add-to-cart-link, input[type=button], input[type=reset], input[type=submit] {
    height: 50px;
    width: auto; }
  .danger, #edit-cancel {
    display: inline-block;
    height: 35px;
    width: 70px;
    padding-top: 14px;
    padding-bottom: 0px;
    text-align: center;
    line-height: normal; } }

/* -------------- Form Elements   ------------- */
fieldset {
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px;
  /* Offsets the negative margin of legends */
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fieldset-wrapper {
  margin-top: 25px; }

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0; }

.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0; }

.filter-wrapper .form-item label {
  margin-right: 10px; }

.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em; }

.filter-guidelines {
  padding: 0 1.5em 0 0.5em; }

fieldset.collapsed {
  background: transparent;
  -moz-border-radius: 0;
  border-radius: 0; }

fieldset legend {
  border-bottom: none;
  display: block;
  height: 2em;
  left: -1px;
  /* LTR */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fefefe;
  top: -12px;
  width: 100%;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px; }

fieldset.collapsed legend {
  -moz-border-radius: 4px;
  border-radius: 4px; }

fieldset .fieldset-wrapper {
  padding: 0 10px; }

fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  font-style: italic; }

.js fieldset.collapsed {
  height: 2.1em; }

input {
  margin: 2px 0;
  padding: 4px; }

input, textarea {
  font-size: 0.929em; }

textarea {
  line-height: 1.5; }

textarea.form-textarea, select.form-select {
  padding: 4px; }

input.form-text, input.form-tel, input.form-email, input.form-url, input.form-color, input.form-number, input.form-search, textarea.form-textarea, select.form-select {
  box-sizing: border-box;
  max-width: 100%; }

input.form-search {
  color: #252525; }

.form-item {
  margin-bottom: 1em;
  margin-top: 2px; }

.form-item label {
  font-size: 0.929em; }

.form-type-radio label, .form-type-checkbox label {
  margin-left: 4px; }

.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 2px; }

.form-actions {
  padding-top: 10px; }

/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.contact-form #edit-mail {
  width: 75%;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.contact-form #edit-subject {
  width: 75%;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.contact-form #edit-message {
  width: 76.3%;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.contact-form .resizable-textarea .grippie {
  width: 76%;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

/* Comment form */
.comment-form label {
  float: left;
  /* LTR */
  font-size: 0.929em;
  width: 120px; }

[dir="rtl"] .comment-form label {
  float: right; }

.comment-form input, .comment-form .form-select {
  margin: 0;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.comment-form .form-type-textarea label {
  float: none; }

.comment-form .form-item, .comment-form .form-radios, .comment-form .form-type-checkbox, .comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden; }

.comment-form .form-type-checkbox, .comment-form .form-radios {
  margin-left: 120px;
  /* LTR */ }

[dir="rtl"] .comment-form .form-type-checkbox, [dir="rtl"] .comment-form .form-radios {
  margin-left: 0;
  margin-right: 120px; }

.comment-form .form-type-checkbox label, .comment-form .form-radios label {
  float: none;
  margin-top: 0; }

.comment-form input.form-file {
  width: auto; }

.no-sidebars .comment-form .form-text {
  width: 800px; }

.one-sidebar .comment-form .form-text {
  width: 500px; }

.two-sidebars .comment-form .form-text {
  width: 320px; }

.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px;
  /* LTR */ }

[dir="rtl"] .comment-form .form-item .description {
  margin-left: 0;
  margin-right: 120px; }

h2.comment-form {
  margin-bottom: 0.5em; }

.comment-form .form-textarea {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.comment-form fieldset.filter-wrapper .fieldset-wrapper, .comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0; }

.filter-wrapper label {
  width: auto;
  float: none; }

.filter-wrapper .form-select {
  min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em; }

#edit-actions input {
  margin-right: 0.6em;
  /* LTR */ }

[dir="rtl"] #edit-actions input {
  margin-left: 0.6em;
  margin-right: 0; }

/* --------------- Search Form ---------------- */
.block-search-form {
  padding-bottom: 7px; }

.block-search-form .content {
  margin-top: 0; }

.block-search-form .form-actions {
  padding: 0; }

#search-form input#edit-keys, .block-search-form .form-item-search-block-form input {
  float: left;
  /* LTR */
  font-size: 1em;
  width: 9em;
  margin-right: 5px;
  /* LTR */
  padding: 0.6em; }

[dir="rtl"] #search-form input#edit-keys, [dir="rtl"] .block-search-form .form-item-search-block-form input {
  float: right;
  margin-left: 5px;
  margin-right: 0; }

#search-block-form input.form-submit, #search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 39px;
  width: 45px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  background: url(../images/search-button.png) no-repeat;
  background-size: cover;
  overflow: hidden; }

#search-block-form input.form-submit:hover, #search-block-form input.form-submit:focus, #search-form input.form-submit:hover, #search-form input.form-submit:focus {
  background-position: center bottom; }

#search-form .form-item-keys label {
  display: block; }

body .l-header ul.menu li a:hover {
  text-decoration: underline; }

li:hover {
  border: 0px solid; }

/**
 * Navigation
 *
 * footer/header/main menu/navigation go in this file
 * these defaults come from the Bartik theme and are being transitioned from CSS into SASS variables
 * Big thanks to Jen Simmons for these defaults https://www.drupal.org/u/jensimmons
 */
/* ------------------ Header ------------------ */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50; }

#skip-link a, #skip-link a:link, #skip-link a:visited {
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px; }

#skip-link a:hover, #skip-link a:active, #skip-link a:focus {
  outline: 0; }

header.l-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  position: fixed;
  width: 100%;
  z-index: 998;
  top: 0;
  min-height: 50px; }

html.admin-bar header.l-header {
  top: 32px; }

.header-menu a {
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 15px; }

.block-system-header {
  float: left;
  width: auto; }

.block-system-header .logo {
  float: left;
  /* LTR */
  padding: 15px 15px 0px 10px;
  /* LTR */ }

[dir="rtl"] .block-system-header .logo {
  float: right;
  padding: 15px 10px 0px 15px; }

.block-system-header .name-and-slogan {
  float: left;
  /* LTR */
  padding-top: 34px;
  margin: 0 0 30px; }

[dir="rtl"] .block-system-header .name-and-slogan {
  float: right; }

/* Region header blocks. */
.l-header .block:after {
  /* Clearfix */
  content: "";
  display: table;
  clear: both; }

.l-header .block .content {
  margin: 0;
  padding: 0; }

.l-header .block ul {
  margin: 0;
  padding: 0; }

.l-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0; }

.l-header .form-text {
  margin-right: 2px;
  /* LTR */
  width: 120px; }

[dir="rtl"] .l-header .form-text {
  margin-left: 2px;
  margin-right: 0; }

/* Region header block menus. */
.l-header .header-menu {
  padding: 0;
  margin: 10px 10px 0;
  display: inline; }

.l-header .header-menu li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0; }

.l-header .header-menu li.last a {
  border-bottom: 0; }

/* User Login block in the header region */
.l-header .block-user-login {
  width: auto; }

.l-header .block-user-login .content {
  margin-top: 2px; }

.l-header .block-user-login .form-item {
  float: left;
  /* LTR */
  margin: 0;
  padding: 0; }

[dir="rtl"] .l-header .block-user-login .form-item {
  float: right; }

.l-header .block-user-login div.item-list, .l-header .block-user-login div.description {
  font-size: 0.916em;
  margin: 0; }

.l-header .block-user-login div.item-list {
  clear: both; }

.l-header .block-user-login div.description {
  display: inline; }

.l-header .block-user-login .item-list ul {
  padding: 0;
  line-height: 1; }

.l-header .block-user-login .item-list li {
  list-style: none;
  float: left;
  /* LTR */
  padding: 3px 0 1px; }

[dir="rtl"] .l-header .block-user-login .item-list li {
  float: right; }

.l-header .block-user-login .item-list li.last {
  padding-left: 0.5em;
  /* LTR */ }

[dir="rtl"] .l-header .block-user-login .item-list li.last {
  padding-left: 0;
  padding-right: 0.5em; }

.l-header .block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both; }

.l-header .block-user-login input.form-submit {
  border: 1px solid;
  margin: 4px 0;
  padding: 3px 8px; }

.block-system-main-menu {
  float: right;
  padding-top: 2px; }

.block-system-main-menu h2.block-title, .mean-bar h2.block-title {
  display: none; }

.gn-menu-main {
  top: 55px !important; }

/* Search block in region header. */
.l-header .block-search-form {
  width: 208px;
  float: left;
  margin-top: -7px; }

.l-header .block-search-form .block-title {
  display: none; }

.l-header .block-search-form .form-text {
  width: 154px; }

/* Language switcher block in region header. */
.l-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em; }

/* --------------- Header Menu ------------ */
.header-menu {
  float: right;
  /* LTR */
  font-size: 0.929em;
  margin: 10px 10px 0; }

[dir="rtl"] .header-menu {
  float: left; }

.header-menu a:hover, .header-menu a:focus {
  text-decoration: underline; }

/* --------------- Main Menu ------------ */
body .l-header ul.menu li a.active, .l-header ul.menu li.active-trail a {
  background-color: transparent;
  text-transform: uppercase; }

.l-header ul.menu li {
  float: left;
  /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px; }

[dir="rtl"] .l-header ul.menu li {
  float: right; }

.l-header ul.menu a {
  float: left;
  /* LTR */
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.8em;
  text-decoration: none; }

[dir="rtl"] .l-header ul.menu a {
  float: right; }

/* ------------------ Footer ------------------ */
.l-footer-columns, .l-footer {
  font-size: 0.857em; }

.l-footer-columns a:hover, .l-footer-columns a:focus, .l-footer a:hover, .l-footer a:focus {
  text-decoration: underline; }

.l-footer-columns .block, .l-footer .block {
  margin: 0.5em auto;
  padding: 0;
  border: none; }

.l-columns .block .content, .l-footer .block .content {
  padding: 0.5em 0;
  margin-top: 0; }

.l-footer .block h2 {
  margin: 0; }

.l-footer-columns {
  padding-top: 30px; }

.l-footer-columns h2, .l-footer h2 {
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase; }

.l-footer-columns .content, .l-footer .content {
  margin-top: 0; }

.l-footer-columns p, .l-footer p {
  margin-top: 1em; }

.l-footer-columns ul, .l-footer ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.l-footer-columns li, .l-footer li {
  list-style: none;
  margin: 0;
  padding: 0; }

.l-footer-columns li a, .l-footer li a {
  display: block;
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px;
  /* LTR */
  text-indent: -15px; }

[dir="rtl"] .l-footer-columns li a, [dir="rtl"] .l-footer li a {
  padding: 0.8em 20px 0.8em 2px; }

.l-footer-columns li a:hover, .l-footer-columns li a:focus, .l-footer li a:hover, .l-footer li a:focus {
  text-decoration: none; }

.l-footer {
  padding: 35px 0 30px; }

.l-footer .section {
  letter-spacing: 0.2;
  padding-top: 30px; }

.l-footer .region {
  margin-top: 20px; }

.l-footer .block {
  clear: both; }

.l-footer .menu, .l-footer .menu li {
  list-style: none;
  margin: 0;
  padding: 0; }

.l-footer .menu li a {
  float: left;
  /* LTR */
  padding: 0 12px;
  display: block; }

[dir="rtl"] .l-footer .menu li a {
  float: right; }

.l-footer .menu li.first a {
  padding-left: 0;
  /* LTR */ }

[dir="rtl"] .l-footer .menu li.first a {
  padding-right: 0;
  padding-left: 12px; }

.l-footer .menu li.last a {
  padding-right: 0;
  /* LTR */
  border-right: none;
  /* LTR */ }

[dir="rtl"] .l-footer .menu li.last a {
  padding-left: 0;
  padding-right: 12px;
  border-left: none; }

.block-system-main-menu ul.menu li ul {
  border: 0px solid !important; }

body:not(.front) .block-system-main-menu {
  top: 0px !important; }

header.l-header, .l-header ul.menu li a.active, .l-header ul.menu li.active-trail a, .header-menu a {
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase; }

@media only screen and (max-width: 768px) {
  .l-header .header-menu li {
    display: block;
    list-style-type: none;
    padding: 0em;
    margin: 0;
    clear: both; }
  .header-menu a {
    padding: 0px; }
  .block-system-main-menu {
    width: 66%;
    float: left; }
  body:not(.logged-in) .block-system-header .logo {
    float: right;
    padding: 0px; }
  html.admin-bar .block-system-main-menu {
    top: 0px; }
  .l-container {
    margin-top: 140px; }
  .responsive-menus.responsified .responsive-menus-simple li a {
    padding: 5px; }
  .responsive-menus.responsified .responsive-menus-simple li ul li a {
    padding-top: 5px;
    padding-bottom: 5px; }
  .l-header ul.menu a {
    height: 1em;
    line-height: 1em; } }

@media only screen and (max-width: 330px) {
  .block-system-main-menu {
    width: 215px; }
  #mobile-menu-inner.accordion {
    width: 100% !important; } }

/*
 * Colours
 *
 * Colours go in this file
 * these defaults come from the Bartik theme and are being transitioned from CSS into SASS variables
 * Big thanks to Jen Simmons for these defaults https://www.drupal.org/u/jensimmons
 */
html ::selection, html ::-moz-selection {
  color: #dadada;
  background: #252525; }

a {
  color: #1cb841; }

a:hover, a:active {
  color: #df7514; }

.l-container, .l-header ul.menu li a.active, .l-header ul.menu li.active-trail a {
  background: inherit; }

.comment .comment-arrow {
  border-color: #fefefe; }

tr.odd, code, kbd, pre, blockquote {
  background-color: #f2f2f2; }

kbd {
  color: #666; }

blockquote:before, blockquote:after {
  color: #ccc; }

table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none; }

#skip-link a:visited {
  background: #555;
  background: rgba(0, 0, 0, 0.6);
  color: #fefefe; }

.tabs ul.primary li.active a, .js .dropbutton-widget, .js .dropbutton-multiple.open .dropbutton-widget:hover, .custom-menu-toggle .bar, li.node-readmore a, footer.link-wrapper ul.links li, .l-header #mobile-menu li.active-trail a, .l-header .form-text {
  background-color: #fefefe; }

.l-header .form-text {
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  color: #000; }

.l-header .form-text:hover, .l-header .form-text:focus, .l-header .form-text:active {
  background: #fefefe;
  color: #000; }

.l-header .form-required {
  color: #fefefe;
  color: #252525; }

.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4; }

.l-header .block-user-login input.form-submit {
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #fefefe;
  color: #252525; }

.l-header .block-user-login input.form-submit:hover, .l-header .block-user-login input.form-submit:focus {
  background: #fefefe;
  color: #252525; }

header.l-header, .l-header ul.menu li a.active, .l-header ul.menu li.active-trail a, .header-menu a {
  background: #252525;
  color: #fefefe; }

.gn-menu-main {
  background: transparent !important; }

.gn-trigger {
  background: #fefefe !important; }

.view-mode-teaser h2 a {
  color: #181818; }

article .link-wrapper ul.links {
  color: #68696b; }

.comment .submitted .comment-time {
  color: #68696b; }

.l-triptych-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08); }

.l-triptych h2 {
  color: #252525; }

.l-footer-columns, .l-footer {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  background-color: #252525; }

.l-footer-columns a, .l-footer a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8); }

.l-footer-columns a:hover, .l-footer-columns a:focus, .l-footer a:hover, .l-footer a:focus {
  color: #fefefe; }

.l-footer-columns li a:hover, .l-footer-columns li a:focus, .l-footer li a:hover, .l-footer li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05); }

.l-footer-columns li a.active {
  color: #fefefe; }

.l-footer-columns h2, .l-footer h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15); }

.l-footer-columns li a, .l-footer li a {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15); }

.l-footer .section {
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15); }

.l-footer .menu li a {
  border-right: 1px solid #555;
  /* LTR */
  border-color: rgba(255, 255, 255, 0.15); }

[dir="rtl"] .l-footer .menu li a {
  border-left: 1px solid #555;
  border-right: none; }

.l-footer-wrapper tr.odd {
  background-color: transparent; }

.l-footer-wrapper tr.even {
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.15); }

.tabs ul.primary li.active a {
  border-bottom: 1px solid #fefefe; }

.tabs ul.primary li a {
  color: #252525;
  background-color: #ededed; }

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  color: #3b3b3b; }

fieldset legend a {
  color: #3b3b3b; }

fieldset legend a:hover, fieldset legend a:focus, fieldset legend a:active {
  color: #252525; }

fieldset .fieldset-description {
  color: #3c3c3c; }

input.form-text, input.form-tel, input.form-email, input.form-url, input.form-color, input.form-number, input.form-search, textarea.form-textarea, select.form-select {
  border: 1px solid #ccc; }

/* Disabled form elements */
input.form-button-disabled, input.form-button-disabled:hover, input.form-button-disabled:focus, input.form-button-disabled:active, .form-disabled input, .form-disabled select, .form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171; }

.form-disabled .grippie {
  background-color: #ededed;
  border-color: #ccc; }

.form-disabled label {
  color: #717171; }

#search-block-form input.form-submit, #search-form input.form-submit {
  border-color: #e4e4e4 #d2d2d2 #b4b4b4; }

.js .dropbutton-widget:hover {
  background-color: #f8f8f8;
  border-color: #b8b8b8; }

.button-success, .button-error, .button-warning, .button-secondary, .button-error, .danger, #edit-cancel, .button-secondary, .button, .basic-cart-add-to-cart-link, input[type=button], input[type=reset], input[type=submit] {
  color: #fefefe; }

.button, .basic-cart-add-to-cart-link, input[type=button], input[type=submit], .button-success {
  background: #1cb841; }

.button-error, .danger {
  background: #ca3c3c;
  /* this is a maroon */
  color: #fefefe; }

.button-warning, #edit-cancel, input[type=reset] {
  background: #df7514; }

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

.danger:hover, #edit-cancel:hover, .danger:focus, #edit-cancel:focus, a.button:hover, a.button:focus, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus {
  background: #ccc;
  color: #fefefe;
  text-decoration: none; }

.l-header ul.menu li a {
  color: #fefefe; }

.custom-menu-wrapper {
  background-color: #252525; }

.custom-menu .pure-menu-link, .custom-menu .pure-menu-heading {
  color: #fefefe; }

.custom-menu .pure-menu-link:hover, .custom-menu .pure-menu-heading:hover {
  background-color: transparent; }

.custom-menu-screen {
  background-color: rgba(0, 0, 0, 0.5); }

.custom-menu-bottom {
  border-top: 1px solid #ccc;
  background-color: #ccc \9; }

#main-menu li a.active {
  border-bottom: 1px solid #9daca9; }

.block-system-main-menu ul.menu li {
  background: #252525 !important; }

tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105); }

tr, tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063); }

.view-mode-teaser.sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9; }

.l-sidebar tr.even, .l-sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6; }

.tabs ul.secondary li a.active {
  background: #f2f2f2; }

fieldset {
  background: #fefefe;
  border: 1px solid #ccc; }

div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc; }

table tr th {
  background: #ccc; }

@media only screen and (max-width: 768px) {
  .block-system-main-menu .mobile-menu-accordion li.expanded li, .block-system-main-menu .mobile-menu-basic li.expanded li {
    background: #ccc !important; } }
