
div.senjo-flipped-layouts-sidebar, div.esdr-flipped-layouts-sidebar {
  display: none;
}

header#l-header, button {
  display: none;
}

section.l-top-banner, section.l-messages {
  display: none;
}

div.tabs {
  display: none;
}

div.page-header {
  border-bottom: none;
  margin-bottom: 0px;
}

footer#footer {
  display: none;
}

div.view-id-results.view-display-id-result_block div.view-content table {
  border: none;
}

.comment-form {
  display: none;
}

.comment .links, .comment-add {
  display: none !important;
}
