/*
 * Unused - save in case it comes up again
#flexslider-1 .slides img {
  width: unset !important;
}
*/


/*
 * Hacks for Chosen fields at tab bottoms
 */
fieldset#edit-group_supplementary {
  padding-bottom: 210px;
}

/*
 * "FORMATTING OPTION" is HUGE
 */
div.text-format-wrapper fieldset.filter-wrapper {
    padding-top: 0.8em;
    padding-bottom: 1.0em;
}
div.text-format-wrapper legend {
  font-size: 80%;
}

/**
 * Equalize summary view columns
 */
div.view-display-id-result_block td.views-field-nothing {
  width: 50%;
}

/**
 * Pad out fields in views and such
 */
div.spaced {
  margin-top: 10px;
  margin-bottom: 10px;
}
